body{
    background-color: aqua;
}

*{
    margin: 0;
}

#titulo{
    text-align: center;
    margin: 20px auto;
    font-size: 50px;
    background-color: rgb(110, 201, 201);
    padding: 15px;
    border: 5px solid gray;
}

#hr{
    height: 100%;
}

#caja{
    background-color: rgb(110, 201, 201);
    width: 300px;
    height: 370px;
    border: 5px solid gray;
    margin-top: 15px;
    margin: 15px auto;
    padding: 40px;
}

#subtitulo{
    text-align: center;
    font-size: 30px;
    border: 5px solid gray;
}

#precioBase{
    background-color: #ffffff;
    margin-top: 40px;
    margin-left: 65px;
    height: 30px;
}

#edad{
    background-color: rgb(255, 255, 255);
    margin: 10%;
    margin-left: 65px;
    height: 30px;
}

#aceptar{
    margin-left: 110px;
    font-size: 20px;
}

#caja2{
    background-color: rgb(194, 250, 250);
    width: 300px;
    height: 100px;
    border: 5px solid gray;
    margin-top: 15px;
    margin: 40px auto;
}

#precio{
    margin: 5px auto;
}

#resultado{
    margin: 5px auto;
}